.logo{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5em;
}

#game-bar {
    height: 22vh;
    width: auto;
    background: rgb(0, 0, 0);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding-bottom: 3vh;
    overflow-y: auto;
}
#game-bar img.gameIcon{
    padding-left: 5%;
    padding-right: 5%;
    /* border: solid gold; */
    height: 100%;
}

#gameInfo{
    height: 100vh;
    padding: 30px;
    font-size: 24px;
    border: dotted;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgb(14, 14, 14), purple);
    border: 2px solid #FF00EB;
    padding-bottom: 10em;
}

input[type="submit"], button {
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    font-size: 3vh;
}

#pageTitle{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3vh;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

div#detailed-info{
    padding-bottom: 5px;
}